@{
    ViewData["Title"] = "ApplyFlow|Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ApplyFlow!</h1>
    <p>Your journey to seamless application management starts here.</p>
    <p><a href="/Dashboard" class="btn btn-primary btn-lg">Go to Dashboard</a></p>

    @if(!User.Identity!.IsAuthenticated )
    {
        <p>
            <a href="/Auth/Login" class="btn btn-primary btn-lg">Login</a>
            or 
            <a href="/Auth/Register" class="btn btn-secondary btn-lg">Register</a>
        </p>
    }
</div>
