@model ApplyFlow.Models.JobApplication

<h2>Create Job Application</h2>

<form asp-action="Create" method="post">
    <div>
        <label>CompanyName</label>
        <input asp-for="CompanyName"  />
    </div>
    <div>
        <label>Position</label>
        <input asp-for="Position" />
    </div> 
    <div>
        <label>Job Link</label>
        <input asp-for="JobLink" />
    </div>
    <div>
        <label>Notes</label>
        <input asp-for="Notes" />
    </div>
    <div>
        <button type="submit">Save & Create</button>
    </div>
</form> 